
<br><br><div id="page-content" class="fixed-header">
	<header id="header">
		<div class="header-inner wrapper clearfix">
			<div id="logo" class="left-float">
				<a id="defaut-logo" class="logotype" href="/">
				<%= image_tag("headerlogo.png", :size => "64x64", :alt => "Show Group") %></a>
			</div>

			<div class="menu left-float clearfix">
				<nav id="main-nav">
				</nav>
				<nav id="menu-controls">
					
					
				</nav>
			</div>
			
			<div class="right-float" style="text-align: left">
			<!-- Logged in Header-->
				<% if defined?(Devise) %>
				  <% if user_signed_in? %>
						<nav id="main-nav">
						  <ul>
						  	<li>
						  		<a href="#"> Welcome </a>
									<ul class="sub-menu"> 
										<!-- MAKE THIS A CLICK INSTEAD OF HOVER -->
	     							<li><%= link_to "My Projects", my_project_posts_path %></li>
							      <li><%= link_to "My Account", edit_user_registration_path %></li>
										<% x = 7 %>
									  <li><%= link_to "Messages", inbox_posts_path %></li>
										<li><%= link_to "Sign Out", destroy_user_session_path%>
										</li>
									</ul>
								</li>
						  </ul>
						</nav>
					<% else %>


			<!--Logged out Header -->	

			<div class="menu right-float clearfix">
           	<nav id="main-nav">
            		<ul>
                  	<li><%= link_to "Login", new_user_session_path %></li>
                  	<li><%= link_to "Sign Up", new_user_registration_path %></li>
					</ul>
				</nav>
			</div>
	 				<% end %>
	    	<% end %>
		  </div>
	  </div>
	</header>
            


